*{
    box-sizing: content-box;
}
.container {
    margin-top: auto;
    content: inherit;
}

.navbar {
    width: 100%;
    background-color: #555;
    content: inherit;
    overflow: auto;
}


@media screen and (max-width: 800px) {
    div {
        width: 100%;
        overflow: auto;
        }
    .container{
        
     overflow: auto;
    }
    nav {
    overflow: auto;
    }
    
}
 
